<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" verbose="10" thread-count="1" data-provider-thread-count="45">
  <test name="cucumber-rest-assured">
    <classes>
      <class name="runner.TestRunner" />
    </classes>
  </test>
</suite>
